# Byte-compiled files
__pycache__/
*.py[cod]
*.pyc

# Virtual environment
.venv/*

# Distribution files
dist/
build/
*.egg-info/

# System files
.DS_Store
Thumbs.db

# Data
data/

# Cache
cache-directory/
file_system_backend/