# Byte-compiled files
__pycache__/
*.py[cod]
*.pyc

# Virtual environment
.venv/*
.venv39/*
.torchenv/*
.tfenv/*
.dashenv/*

# Distribution files
dist/
build/
*.egg-info/

# System files
.DS_Store
Thumbs.db

# Data
data/*
!data/raw.fif

# Cache
src/cache-directory/*
!src/cache-directory/.gitkeep

# Jupyter Notebook test
*.ipynb

# Mkdocs
*/site/

# Apptainer
*.sif

# Style formatting
.flake8