torch
torchvision
linear_attention_transformer
einops
typeguard
tensorboard
tqdm
numpy
pandas
scikit-learn
lightning
torchinfo
pillow
mne[hdf5]
PyWavelets
PyYAML
joblib
scipy
x-transformers
pytest
rich